<div class="row">&nbsp;</div>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Spieltag</th>
            <th>Heim</th>
            <th>Gast</th>
            <th>Ergebnis</th>
            <th>Heim</th>
            <th>Ausw.</th>
            <th>&Oslash; Heim</th>
            <th>&Oslash; Ausw.</th>
        </tr>
    </thead>
    <tbody>
        <tr class="repeat">
            <td class="spieltag"></td>
            <td class="heim"></td>
            <td class="gast"></td>
            <td class="ergebnis"></td>
            <td class="heim_holz"></td>
            <td class="gast_holz"></td>
            <td class="heim_schnitt"></td>
            <td class="gast_schnitt"></td>
        </tr>
    </tbody>
</table>
