<div class="row">&nbsp;</div>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Spieltag <span style="font-size:7pt">(Nr.)</span></th>
            <th>Heim</th>
            <th>Gast</th>
            <th>Ergebnis</th>
            <th>Heim</th>
            <th>Ausw.</th>
            <th>&Oslash; Heim</th>
            <th>&Oslash; Ausw.</th>
        </tr>
    </thead>
    <tbody>
        <tr class="repeat">
            <td><strong class="spieltag"></strong>&nbsp;<span style="font-size:7pt" class="spielnr_in_klammern"></span></td>
            <td class="heim"></td>
            <td class="gast"></td>
            <td><strong class="punkte"></strong>&nbsp;(<span class="ewp"></span>)</td>
            <td class="heim_holz"></td>
            <td class="gast_holz"></td>
            <td class="heim_schnitt"></td>
            <td class="gast_schnitt"></td>
        </tr>
    </tbody>
</table>
