h1,h2,h3,h4,h5,h6,p {color:black}
h1{ 	font-family:Arial; 
	font-style:oblique; 
	font-weight:bold;
	font-size:12pt;
	letter-spacing:2pt;
	text-align:left; 
	text-indent:4mm; 
	line-height:16pt; 
	text-decoration:underline}

a:link { color:#FFFFFF; text-decoration:underline; }

a:visited { color:#CCCCCC; text-decoration:underline; }

a:active { color:#800000; text-decoration:none; }

p {	font-family:Arial; 
	font-style:normal; 
	font-weight:normal;
	font-size:9pt;
	letter-spacing:0.03mm;
	text-align:left}

/* Überschriften in Tabellen */

h3{	font-family:Arial; 
	font-style:normal; 
	font-weight:bold;
	font-size:10pt;}

h2{	font-family:Arial; 
	font-style:oblique; 
	font-weight:bold;
	font-size:11pt;}
	letter-spacing:3mm;
	text-align:left;
	text-decoration:underline}

	text-indent:4mm; 
	line-height:16pt; 